.Comment {
    width: 60%;
    margin: auto;
  }


  
  .CommentR {
    width: 100%;
    margin-left: 2%;
    /* float: right; */
  }
.Line {
    margin-left: 5%;
    border-left: 1px solid #d8bfd880;
    padding: 0%;
    width: 93%;
}

.Border { 
  padding: 1% 2%;
  background-color: thistle !important;
  border: 1px solid ;
  border-radius: 20px;
  margin: 2% 0%;
  display: flex;
}

.Like {
  width: 40px;
  margin: auto 3% auto 0px;
  background-color: rgb(137 148 196);
  padding: 1px 0% 5px 0px;
  border-radius: 10px;
}

.Like p {
  padding: 4% 38%;
  background-color: transparent;
}

.styleUser {
  display: inline;
  margin: auto;
}

.styleDate {
  color: rgb(0 0 0 / 70%);
  font-size: 60%;
  display: inline;
  margin: auto 0 auto 30px;
}

.UserSection {
  float: left;
  display: flex;
}

.flex {
  float: left;
}

.Reply {
  background-color: transparent;
  border: none;
  color: darkblue;
  font-size: medium;
  font-weight: 700;
  margin: auto;
}

.Delete {
  color: red !important;
}

.ReplyDiv {
  display: flex;
  margin-left: 15px;
}

.EditDelDiv {
  display: flex;
}

.ActionsDiv {
  position: absolute;
  right: 22%;
  display: flex;
  margin: 1% 0;
}

.iconReply {
  margin: auto;

}

.BorderReply {
    width: 94%;
    padding: 1%;
    background-color: thistle !important;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    margin-left: 2%;
}

 .Submit {
  margin: 0 3% 1% 1%!important;
  float: right;
} 

.Cancel {
  margin: 0 1% 1%!important;
  float: right;
}

.textAreaEdit {
  width: 95% !important;
  margin: 2% auto !important;
}

.LikesBut {
  background: transparent;
    border: none;
    font-size: 90%;
    color: #0a0f2a;
    padding: 4% 38%;
}

.UnLikesBut {
  font-size: 95%;
  padding: 4% 38%;
}

  @media only screen and (max-width: 1150px) {
    .Comment {
      width: 80%;
    }
    .styleDate {
      font-size: 55%;
      position: absolute;
      margin-left: 66px;
      margin-top: 37px;
  }
  .ActionsDiv {
    right: 13%;
}
  }
  @media only screen and (max-width: 450px) {
    .Comment {
      width: 96%;
    }
    .ReplyDiv {
      margin-left: 5px;
  }
  .Reply {
    font-size: 70%;
    font-weight: 600;
    padding: 1px 4px 0 3px !important;
  }
  }

  @media only screen and (max-width: 768px) {
    .Comment {
      width: 90%;
    }
    .Like {
    width: 30px;
  }
  .Reply {
    font-size: 70%;
    font-weight: 600;
  }

  .styleDate {
    font-size: 55%;
    position: absolute;
    margin-left: 66px;
    margin-top: 37px;
}
  .ActionsDiv {
    right: 7%;
  }
  }


